{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier un article</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <button type="submit">Publier</button>
    {{ form_end(form) }}
{% endblock %}